<div class="main-container">
  <div class="nav-bar playfair">
    <ul>
      <li class="menu-item" #home (click)="sceneChange(home)">Home</li>
      <li class="menu-item" #aboutMe (click)="sceneChange(aboutMe)">About Me</li>
      <li class="menu-item" #projects (click)="sceneChange(projects)">Projects</li>
      <li class="menu-item" #contactMe (click)="sceneChange(contactMe)">Contact Me</li>
    </ul>
  </div>
  <div id="title" class="playfair">{{ pageTitle }}</div>

  <section id="container">
    <div class="about-me">
      <div class="name playfair">Jowi Szetu</div>
      <div class="sm-description">Full Stack Software Developer</div>
      <div class="info">
        <div class="info-personal">
          <p>d</p>
          <p>this is content</p>
          <p>stuff</p>
        </div>
        <div class="info-experience">
          <p>d</p>
          <p>this is content</p>
          <p>stuff</p>
        </div>
      </div>
    </div>
  </section>
</div>
