.playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* , .outline {
    outline: 1px solid yellow;
    //background-color: aqua;
}

#indtroduction {
    border-right: 1px solid var(--clr-p1-color);
    border-bottom: 1px solid var(--clr-p1-color);

}

.nav-bar {
    --nav-text-size: 32pt;
    padding-right: var(--cds-global-layout-space-xl);
    padding-top: var(--cds-global-layout-space-xxl);

    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;

    ul > li {
        font-size: var(--nav-text-size);
        font-weight: 600;
        text-align: right;
        list-style-type: none;
        
        &:hover {
            font-size: calc(var(--nav-text-size) * 2);
            font-weight: 800;
            font-style: italic;
            list-style-type: "- ";
            border-bottom: 1px solid var(--clr-p1-color);
        }
    }
}

section {
    height:  100vh;
}