<div class="nav-bar playfair">
  <ul>
    <li onclick="location.href='#home';"  style="cursor:pointer;">Home</li>
    <li onclick="location.href='#about-me';"  style="cursor:pointer;">About Me</li>
    <li onclick="location.href='#projects';"  style="cursor:pointer;">Projects</li>
    <li onclick="location.href='#contact-me';"  style="cursor:pointer;">Contact Me</li>
  </ul>
</div>
<section id="home">
  <div class="content-container">
    <div class="center intro">
      <div class="name playfair">Jowi Szetu</div>
      <div class="sm-description">Full Stack Software Developer</div>
    </div>
   
  </div>
</section>
<section id="about-me">
</section>
<section id="projects">
</section>
<section id="contact-me">
</section> 
