.playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.outline {
    outline: 1px solid yellow;
    background-color: aqua;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.intro {
    height: 40vh;
    width: 50vw;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
}

.name { 
    font-size: 100pt;
    top: 0%;
    left: 0%;
    height: 40%;
}

.sm-description {
    position: absolute;
    top: 20%;
    left: 6%;
    height: 20%;
}