<div class="nav-bar playfair">
  <ul>
    <li onclick="location.href='#';"  style="cursor:pointer;">Home</li>
    <li onclick="location.href='#about-me';"  style="cursor:pointer;">About Me</li>
    <li onclick="location.href='#projects';"  style="cursor:pointer;">Projects</li>
    <li onclick="location.href='#contact-me';"  style="cursor:pointer;">Contact Me</li>
  </ul>
</div>
<section id="home">
  <div id="introduction">
      <div class="name playfair">Jowi Szetu</div>
      <div class="sm-description">Full Stack Software Developer</div>   
  </div>
</section>
<section id="about-me">
</section>
<section id="projects">
</section>
<section id="contact-me">
  <div class="center outline">
    This is the contact me section
  </div>
</section> 
